.week {
  display: flex;
  width: 960px;
  margin: auto;
}

.dayname {
  height: 30px;
}

.time-block {
  height: 30px;
}

.time-border {
  height: 29px;
  border-top: 1px solid black;
  font-size: 12px;
}

.lightblue {
  background-color: lightblue;
}

.ivory {
  background-color: ivory;
}

.lightcyan {
  background-color: lightcyan;
} 

.lightgoldenrodyellow {
  background-color: lightgoldenrodyellow;
}

.lightyellow {
  background-color: lightyellow;
}

.weekday {
  width: 130px;
  height: 100%; 
}

.weektime {
  width: 50px;
  height: 100%;
  padding-top: 30px;
}
