<!doctype html>
<html>
  <head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8" /> 
    <meta name="description" content="">

  </head>
  <body>
    Alumnos con promedio general:
    <ul>
    {% for student in students %}
        <li>{{ student.name }} : {{ student.average }}</li>
    {% endfor %}
    </ul>

</body>
</html>
